/*Aca defino el estilo del formulario de la pagina Contacto*/

.body__formulario {
	width: 940px;
	height: 320px;
	margin: 10px;
	padding: 10px;
	font-family: 'Acme', sans-serif;
	font-size: 100%;
	line-height: 250%;
	word-spacing: 100%;
	background-image: linear-gradient(red, white);
}

.body__maps {
	width: auto;
	height: auto;
	margin: 20px;
	padding: 20px;
}