/*Aca defino la estructura de la tabla de la pagina E-shops*/

table {
	border: 5px solid;
	border-color: whitesmoke;
	background-color: rgb(233, 129, 138);
	padding: 15px 20px;
}

th {
	background-color:#cccccc;
	border: 0px solid;
}



