@media (max-width: 575px) {
	body {
		background-image: url(../img/fondo-rosa.jpg);
	}
	.body__caja-contenedor {
		display: flex;
		flex-flow: column;
	}
	.header__navegacion {
		width: 200px;
		align-items: center;
	}
	.header__navegacion ul{
		list-style: none;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-evenly;
		align-items: center;
	}
	.header__caja-contenedor-cabecera {
		width: 500px;
		height: 300px;
	}
	h1 {
		font-size: 100%;
	}
	h2 {
		font-size: 70%;
        color: coral;
    }
	h4 {
		font-size: 50%;
	}
	h5 {
		font-size: 80%;
	}
	.header__escudo figure img {
		width: 100px;
	}
	.header__escudo figure:hover img {
		width: 140px;
	}
	.fondo-tienda { 
		grid-template-columns: repeat(1,1fr);
		grid-template-rows: repeat(4,1fr);  

	}
	.contenedor-deportes { 
		grid-template-columns: repeat(1,1fr);   
		grid-template-rows: repeat(4,1fr);      
	}

	.contenedor-video {
		width: 450px;
		height: 250px;
	}
	.materialbox-caption {
		width: 90%;
	}
}